@import "../../variables";
needed-people {
    border: 2px solid;
    width: 100%;
    display: block;
    height: 1.5em;
    margin-bottom: 8px;
    position: relative;
    &.not-full percentage-covered {
        background-color: $secondary-action;
        border-color: $secondary-action;
    }
    &.full percentage-covered {
        border-color: $primary-action;
        background-color: $primary-action;
    }
    percentage-covered {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        transition: width 0.5s;
    }
    people-needed-text {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
}